{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                <h2>Connexion</h2>
                <p>Connecte-toi avec Google pour accéder à l’administration du blog.</p>
                
                <a href="{{ path('connect_google') }}" class="btn btn-primary google-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <path fill="white" d="M22.64 12.2c0-.79-.07-1.54-.19-2.27H12v4.3h6.07c-.28 1.41-1.12 2.6-2.37 3.4v2.82h3.82c2.24-2.07 3.52-5.1 3.52-8.25z"></path>
                    </svg>
                    Connexion avec Google
                </a>
            </div>
        </div>

        <div id="login-help" class="col-sm-7">
            <h3>
                <twig:ux:icon name="tabler:arrow-left"/>
                {{ 'help.login_users'|trans }}
            </h3>
            
            <p>Pour accéder à l’administration, utilisez votre compte Google.</p>

            <div id="login-users-help" class="card">
                <div class="card-body">
                    <p>
                        <span class="badge badge-success">{{ 'note'|trans }}</span>
                        {{ 'help.reload_fixtures'|trans }}<br/>
                        <code class="console">$ php bin/console doctrine:fixtures:load</code>
                    </p>

                    <p>
                        <span class="badge badge-success">{{ 'tip'|trans }}</span>
                        {{ 'help.add_user'|trans }}<br/>
                        <code class="console">$ php bin/console app:add-user</code>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ show_source_code(_self) }}
{% endblock %}
